<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tabHistoriquePatient">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.detail.title">Tab Historique Patient</span> {{ tabHistoriquePatient.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.numeroDossier">Numero Dossier</span></dt>
                <dd>
                    <span>{{ tabHistoriquePatient.numeroDossier }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.nom">Nom</span></dt>
                <dd>
                    <span>{{ tabHistoriquePatient.nom }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ tabHistoriquePatient.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.matriculeUtilisateur">Matricule Utilisateur</span></dt>
                <dd>
                    <span>{{ tabHistoriquePatient.matriculeUtilisateur }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.matriculecreation">Matriculecreation</span></dt>
                <dd>
                    <span>{{ tabHistoriquePatient.matriculecreation }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.datecreation">Datecreation</span></dt>
                <dd>
                    <span>{{ tabHistoriquePatient.datecreation }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.matriculemodif">Matriculemodif</span></dt>
                <dd>
                    <span>{{ tabHistoriquePatient.matriculemodif }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabHistoriquePatient.datemodif">Datemodif</span></dt>
                <dd>
                    <span>{{ tabHistoriquePatient.datemodif }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tab-historique-patient', tabHistoriquePatient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
