<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.home.title">Tab Biologies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tab-biologie" [routerLink]="['/tab-biologie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.home.createLabel">
            Create a new Tab Biologie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tabBiologies?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.home.notFound">No tabBiologies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tabBiologies && tabBiologies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.dateBiologie">Date Biologie</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.nomBiologie">Nom Biologie</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.nomSerologie">Nom Serologie</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.gSanguin">G Sanguin</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.grSangGeni">Gr Sang Geni</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.caryotype">Caryotype</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.tarifBiologie">Tarif Biologie</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.autresBiologie">Autres Biologie</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.tabConsultation">Tab Consultation</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabBiologie.tabGynecologie">Tab Gynecologie</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tabBiologie of tabBiologies ;trackBy: trackId">
                    <td><a [routerLink]="['/tab-biologie', tabBiologie.id, 'view']">{{ tabBiologie.id }}</a></td>
                    <td>{{ tabBiologie.dateBiologie | date:'medium' }}</td>
                    <td>{{ tabBiologie.nomBiologie }}</td>
                    <td>{{ tabBiologie.nomSerologie }}</td>
                    <td>{{ tabBiologie.gSanguin }}</td>
                    <td>{{ tabBiologie.grSangGeni }}</td>
                    <td>{{ tabBiologie.caryotype }}</td>
                    <td>{{ tabBiologie.tarifBiologie }}</td>
                    <td>{{ tabBiologie.autresBiologie }}</td>
                    <td>
                        <div *ngIf="tabBiologie.tabConsultation">
                            <a [routerLink]="['/tab-consultation', tabBiologie.tabConsultation?.id, 'view']" >{{ tabBiologie.tabConsultation?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tabBiologie.tabGynecologie">
                            <a [routerLink]="['/tab-gynecologie', tabBiologie.tabGynecologie?.id, 'view']" >{{ tabBiologie.tabGynecologie?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tab-biologie', tabBiologie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tab-biologie', tabBiologie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tabBiologie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
