<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tabGynecologie">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.detail.title">Tab Gynecologie</span> {{ tabGynecologie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.dateConsult">Date Consult</span></dt>
                <dd>
                    <span>{{ tabGynecologie.dateConsult }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.ddr">Ddr</span></dt>
                <dd>
                    <span>{{ tabGynecologie.ddr }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.termeUs">Terme Us</span></dt>
                <dd>
                    <span>{{ tabGynecologie.termeUs }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.termCorrige">Term Corrige</span></dt>
                <dd>
                    <span>{{ tabGynecologie.termCorrige }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.termDdr">Term Ddr</span></dt>
                <dd>
                    <span>{{ tabGynecologie.termDdr }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.cycle">Cycle</span></dt>
                <dd>
                    <span>{{ tabGynecologie.cycle }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.dateOvulation">Date Ovulation</span></dt>
                <dd>
                    <span>{{ tabGynecologie.dateOvulation }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.ageGestationel">Age Gestationel</span></dt>
                <dd>
                    <span>{{ tabGynecologie.ageGestationel }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{ tabGynecologie.dateFin }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.testPeri">Test Peri</span></dt>
                <dd>
                    <span>{{ tabGynecologie.testPeri }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.ecouvillon">Ecouvillon</span></dt>
                <dd>
                    <span>{{ tabGynecologie.ecouvillon }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.perine">Perine</span></dt>
                <dd>
                    <span>{{ tabGynecologie.perine }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.bassin">Bassin</span></dt>
                <dd>
                    <span>{{ tabGynecologie.bassin }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.ogtt">Ogtt</span></dt>
                <dd>
                    <span>{{ tabGynecologie.ogtt }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.imc">Imc</span></dt>
                <dd>
                    <span>{{ tabGynecologie.imc }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.poidsMereInitial">Poids Mere Initial</span></dt>
                <dd>
                    <span>{{ tabGynecologie.poidsMereInitial }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.poidsMereTheoriBebe">Poids Mere Theori Bebe</span></dt>
                <dd>
                    <span>{{ tabGynecologie.poidsMereTheoriBebe }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.tailleMere">Taille Mere</span></dt>
                <dd>
                    <span>{{ tabGynecologie.tailleMere }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.tailleTheoriBebe">Taille Theori Bebe</span></dt>
                <dd>
                    <span>{{ tabGynecologie.tailleTheoriBebe }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.gSgMari">G Sg Mari</span></dt>
                <dd>
                    <span>{{ tabGynecologie.gSgMari }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.laboTri21">Labo Tri 21</span></dt>
                <dd>
                    <span>{{ tabGynecologie.laboTri21 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.caryotype">Caryotype</span></dt>
                <dd>
                    <span>{{ tabGynecologie.caryotype }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.suiviPar">Suivi Par</span></dt>
                <dd>
                    <span>{{ tabGynecologie.suiviPar }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.pediatre">Pediatre</span></dt>
                <dd>
                    <span>{{ tabGynecologie.pediatre }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.risqueOrl">Risque Orl</span></dt>
                <dd>
                    <span>{{ tabGynecologie.risqueOrl }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.resumeGrossesse">Resume Grossesse</span></dt>
                <dd>
                    <span>{{ tabGynecologie.resumeGrossesse }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.conduiteAccouche">Conduite Accouche</span></dt>
                <dd>
                    <span>{{ tabGynecologie.conduiteAccouche }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.rapport">Rapport</span></dt>
                <dd>
                    <span>{{ tabGynecologie.rapport }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabGynecologie.tabAccouchement">Tab Accouchement</span></dt>
                <dd>
                    <div *ngIf="tabGynecologie.tabAccouchement">
                        <a [routerLink]="['/tab-accouchement', tabGynecologie.tabAccouchement?.id, 'view']">{{ tabGynecologie.tabAccouchement?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tab-gynecologie', tabGynecologie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
