<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tab-grossesse-heading" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.home.createOrEditLabel">Create or edit a Tab Grossesse</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.dateConsult" for="field_dateConsult">Date Consult</label>
                    <div class="d-flex">
                        <input id="field_dateConsult" type="datetime-local" class="form-control" name="dateConsult" formControlName="dateConsult" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.ddr" for="field_ddr">Ddr</label>
                    <input type="text" class="form-control" name="ddr" id="field_ddr"
                           formControlName="ddr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.termeUs" for="field_termeUs">Terme Us</label>
                    <input type="text" class="form-control" name="termeUs" id="field_termeUs"
                           formControlName="termeUs"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.dateOvulation" for="field_dateOvulation">Date Ovulation</label>
                    <div class="d-flex">
                        <input id="field_dateOvulation" type="datetime-local" class="form-control" name="dateOvulation" formControlName="dateOvulation" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.ageGestationel" for="field_ageGestationel">Age Gestationel</label>
                    <input type="text" class="form-control" name="ageGestationel" id="field_ageGestationel"
                           formControlName="ageGestationel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.termCorrige" for="field_termCorrige">Term Corrige</label>
                    <input type="text" class="form-control" name="termCorrige" id="field_termCorrige"
                           formControlName="termCorrige"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.perine" for="field_perine">Perine</label>
                    <input type="text" class="form-control" name="perine" id="field_perine"
                           formControlName="perine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.bassin" for="field_bassin">Bassin</label>
                    <input type="text" class="form-control" name="bassin" id="field_bassin"
                           formControlName="bassin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.ogtt" for="field_ogtt">Ogtt</label>
                    <input type="text" class="form-control" name="ogtt" id="field_ogtt"
                           formControlName="ogtt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.suiviPar" for="field_suiviPar">Suivi Par</label>
                    <input type="text" class="form-control" name="suiviPar" id="field_suiviPar"
                           formControlName="suiviPar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.imc" for="field_imc">Imc</label>
                    <input type="text" class="form-control" name="imc" id="field_imc"
                           formControlName="imc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.poidsMereInitial" for="field_poidsMereInitial">Poids Mere Initial</label>
                    <input type="number" class="form-control" name="poidsMereInitial" id="field_poidsMereInitial"
                           formControlName="poidsMereInitial"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.poidsMereTheoriBebe" for="field_poidsMereTheoriBebe">Poids Mere Theori Bebe</label>
                    <input type="number" class="form-control" name="poidsMereTheoriBebe" id="field_poidsMereTheoriBebe"
                           formControlName="poidsMereTheoriBebe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.tailleMere" for="field_tailleMere">Taille Mere</label>
                    <input type="number" class="form-control" name="tailleMere" id="field_tailleMere"
                           formControlName="tailleMere"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.tailleTheoriBebe" for="field_tailleTheoriBebe">Taille Theori Bebe</label>
                    <input type="number" class="form-control" name="tailleTheoriBebe" id="field_tailleTheoriBebe"
                           formControlName="tailleTheoriBebe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.laboTri21" for="field_laboTri21">Labo Tri 21</label>
                    <input type="text" class="form-control" name="laboTri21" id="field_laboTri21"
                           formControlName="laboTri21"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.resumeGrossesse" for="field_resumeGrossesse">Resume Grossesse</label>
                    <input type="text" class="form-control" name="resumeGrossesse" id="field_resumeGrossesse"
                           formControlName="resumeGrossesse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.conduiteAccouche" for="field_conduiteAccouche">Conduite Accouche</label>
                    <input type="text" class="form-control" name="conduiteAccouche" id="field_conduiteAccouche"
                           formControlName="conduiteAccouche"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.rapport" for="field_rapport">Rapport</label>
                    <input type="text" class="form-control" name="rapport" id="field_rapport"
                           formControlName="rapport"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tabGrossesse.tabPatient" for="field_tabPatient">Tab Patient</label>
                    <select class="form-control" id="field_tabPatient" name="tabPatient" formControlName="tabPatient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tabPatientOption.id === editForm.get('tabPatient')!.value?.id ? editForm.get('tabPatient')!.value : tabPatientOption" *ngFor="let tabPatientOption of tabpatients; trackBy: trackById">{{ tabPatientOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
