<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tabSerologie">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.detail.title">Tab Serologie</span> {{ tabSerologie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.dateSerologie">Date Serologie</span></dt>
                <dd>
                    <span>{{ tabSerologie.dateSerologie }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.grSang">Gr Sang</span></dt>
                <dd>
                    <span>{{ tabSerologie.grSang }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.grSangGeni">Gr Sang Geni</span></dt>
                <dd>
                    <span>{{ tabSerologie.grSangGeni }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.caryotype">Caryotype</span></dt>
                <dd>
                    <span>{{ tabSerologie.caryotype }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.tarifSerologie">Tarif Serologie</span></dt>
                <dd>
                    <span>{{ tabSerologie.tarifSerologie }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.autres">Autres</span></dt>
                <dd>
                    <span>{{ tabSerologie.autres }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.rapport">Rapport</span></dt>
                <dd>
                    <span>{{ tabSerologie.rapport }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.tabPatient">Tab Patient</span></dt>
                <dd>
                    <div *ngIf="tabSerologie.tabPatient">
                        <a [routerLink]="['/tab-patient', tabSerologie.tabPatient?.id, 'view']">{{ tabSerologie.tabPatient?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.tabGrossesse">Tab Grossesse</span></dt>
                <dd>
                    <div *ngIf="tabSerologie.tabGrossesse">
                        <a [routerLink]="['/tab-grossesse', tabSerologie.tabGrossesse?.id, 'view']">{{ tabSerologie.tabGrossesse?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSerologie.tabPatient">Tab Patient</span></dt>
                <dd>
                    <div *ngIf="tabSerologie.tabPatient">
                        <a [routerLink]="['/tab-patient', tabSerologie.tabPatient?.id, 'view']">{{ tabSerologie.tabPatient?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tab-serologie', tabSerologie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
