<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tabSpecialite">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.tabSpecialite.detail.title">Tab Specialite</span> {{ tabSpecialite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSpecialite.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ tabSpecialite.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.tabSpecialite.nomPersonnel">Nom Personnel</span></dt>
                <dd>
                    <span>{{ tabSpecialite.nomPersonnel }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tab-specialite', tabSpecialite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
