<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.tabUser.home.title">Tab Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tab-user" [routerLink]="['/tab-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.tabUser.home.createLabel">
            Create a new Tab User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tabUsers?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.tabUser.home.notFound">No tabUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tabUsers && tabUsers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.login">Login</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.mdp">Mdp</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.dateNaissance">Date Naissance</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.genre">Genre</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.sexe">Sexe</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.telephone">Telephone</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.estActif">Est Actif</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.dmajMdp">Dmaj Mdp</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.staConnex">Sta Connex</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.matriculeCreation">Matricule Creation</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.matriculeModif">Matricule Modif</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.dateCreation">Date Creation</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.dateModif">Date Modif</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.langue">Langue</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.tabUser.tabPersonnel">Tab Personnel</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tabUser of tabUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/tab-user', tabUser.id, 'view']">{{ tabUser.id }}</a></td>
                    <td>{{ tabUser.login }}</td>
                    <td>{{ tabUser.mdp }}</td>
                    <td>{{ tabUser.nom }}</td>
                    <td>{{ tabUser.prenom }}</td>
                    <td>{{ tabUser.dateNaissance }}</td>
                    <td>{{ tabUser.genre }}</td>
                    <td>{{ tabUser.sexe }}</td>
                    <td>{{ tabUser.telephone }}</td>
                    <td>{{ tabUser.email }}</td>
                    <td>{{ tabUser.estActif }}</td>
                    <td>{{ tabUser.dmajMdp }}</td>
                    <td>{{ tabUser.staConnex }}</td>
                    <td>{{ tabUser.matriculeCreation }}</td>
                    <td>{{ tabUser.matriculeModif }}</td>
                    <td>{{ tabUser.dateCreation }}</td>
                    <td>{{ tabUser.dateModif }}</td>
                    <td>{{ tabUser.langue }}</td>
                    <td>
                        <div *ngIf="tabUser.tabPersonnel">
                            <a [routerLink]="['/tab-personnel', tabUser.tabPersonnel?.id, 'view']" >{{ tabUser.tabPersonnel?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tab-user', tabUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tab-user', tabUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tabUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
